<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Find Flights</title>
<meta charset="UTF-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	
	<div class="container">
	<h2>Find flights: </h2>  
		<form th:action="@{/findFlights}" th:object="${flight}" method="post">
			<br/>
			<div class="form-group" style="width:30%">
				<label for="id">From: </label>
				<input type="text" th:field="*{departureCity}" class="form-control" placeholder="Enter departure city"/>
			</div>			
			<div class="form-group" style="width:30%">
				<label for="code">To: </label>
				<input type="text" th:field="*{arrivalCity}" class="form-control" placeholder="Enter arrival city"/>
			</div>
			<div class="form-group" style="width:30%">
				<label for="name">Departure date: </label>
				<input type="date" th:field="*{dateOfDeparture}" class="form-control" placeholder="Enter date of departure"/>
			</div>   
			<div class="form-group">
				<input type="submit" value="search" class="btn btn-success btn-send"/>
			</div>
		</form>
		<!--<a href="displayLocations" class="btn btn-info" role="button" align="center">View all</a>-->
	</div>
	<div class="alert alert-success" th:if="${msg != null}" >
  		<strong th:text="${msg}"></strong>
	</div>
</body>
</html>