<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Flight Reservation Application</title>
</head>
<body>
	<div class="container">
		<br/>
		<h2>Welcome to the Flight Reservation Application: </h2> 
		<br/>
		<a href="showRegistration" class="btn btn-info" role="button" align="center">Sign up (new user)</a>
		<a href="login" class="btn btn-info" role="button" align="center">Login (existing user)</a>
	</div>
</body>
</html>